<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="6.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.3" targetFramework="xamarinios10" />
  <package id="DACircularProgress" version="2.3.1.0" targetFramework="xamarinios10" />
  <package id="Google.Apis" version="1.15.0" targetFramework="xamarinios10" />
  <package id="Google.Apis.Auth" version="1.15.0" targetFramework="xamarinios10" />
  <package id="Google.Apis.Core" version="1.15.0" targetFramework="xamarinios10" />
  <package id="Google.Apis.Vision.v1" version="1.15.0.572" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.354" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="sqlite-net" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.2.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.MobileAds" version="7.7.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Tesseract" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.19.0" targetFramework="xamarinios10" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="xamarinios10" />
</packages>